extends template
block body
  if paste
      pre#simpledit(contenteditable="true", style="display:none")
        = paste.text
      #editor
        = paste.text
      input#langs(type="hidden", value="#{paste.lang}", name="db")
      input#named(type="hidden", value="#{paste.name}")
      input#docid(type="hidden", value="#{paste._id}")
  else
    pre#simpledit(contenteditable="true", style="display:none")
    #editor
    input#langs(type="hidden", value="JavaScript")
    input#named(type="hidden", value="")
    input#docid(type="hidden", value="")
  input#csrf(type="hidden", name="_csrf", value="#{token}")
